USE [ParkingManagementDB]
GO
ALTER TABLE [dbo].[Vehicles] DROP CONSTRAINT [FK_Vehicles_VehicleTypes_TypeId]
GO
ALTER TABLE [dbo].[Prices] DROP CONSTRAINT [FK_Prices_VehicleTypes_TypeId]
GO
ALTER TABLE [dbo].[ParkingTransactions] DROP CONSTRAINT [FK_ParkingTransactions_ParkingSessions_SessionId]
GO
ALTER TABLE [dbo].[ParkingSessions] DROP CONSTRAINT [FK_ParkingSessions_Vehicles_VehicleId]
GO
ALTER TABLE [dbo].[ParkingSessions] DROP CONSTRAINT [FK_ParkingSessions_RFIDCards_CardId]
GO
ALTER TABLE [dbo].[ParkingSessions] DROP CONSTRAINT [FK_ParkingSessions_ParkingPositions_PositionId]
GO
ALTER TABLE [dbo].[MonthlyCards] DROP CONSTRAINT [FK_MonthlyCards_Vehicles_VehicleId]
GO
ALTER TABLE [dbo].[MonthlyCards] DROP CONSTRAINT [FK_MonthlyCards_RFIDCards_CardId]
GO
ALTER TABLE [dbo].[VehicleTypes] DROP CONSTRAINT [DF__VehicleTy__Price__72C60C4A]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__IsActive__71D1E811]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__Role__70DDC3D8]
GO
/****** Object:  Index [IX_Vehicles_TypeId]    Script Date: 21/04/2026 9:34:56 PM ******/
DROP INDEX [IX_Vehicles_TypeId] ON [dbo].[Vehicles]
GO
/****** Object:  Index [UQ__Users__C9F28456D151D67D]    Script Date: 21/04/2026 9:34:56 PM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__C9F28456D151D67D]
GO
/****** Object:  Index [IX_Prices_TypeId]    Script Date: 21/04/2026 9:34:56 PM ******/
DROP INDEX [IX_Prices_TypeId] ON [dbo].[Prices]
GO
/****** Object:  Index [IX_ParkingTransactions_SessionId]    Script Date: 21/04/2026 9:34:56 PM ******/
DROP INDEX [IX_ParkingTransactions_SessionId] ON [dbo].[ParkingTransactions]
GO
/****** Object:  Index [IX_ParkingSessions_VehicleId]    Script Date: 21/04/2026 9:34:56 PM ******/
DROP INDEX [IX_ParkingSessions_VehicleId] ON [dbo].[ParkingSessions]
GO
/****** Object:  Index [IX_ParkingSessions_PositionId]    Script Date: 21/04/2026 9:34:56 PM ******/
DROP INDEX [IX_ParkingSessions_PositionId] ON [dbo].[ParkingSessions]
GO
/****** Object:  Index [IX_ParkingSessions_CardId]    Script Date: 21/04/2026 9:34:56 PM ******/
DROP INDEX [IX_ParkingSessions_CardId] ON [dbo].[ParkingSessions]
GO
/****** Object:  Index [IX_MonthlyCards_VehicleId]    Script Date: 21/04/2026 9:34:56 PM ******/
DROP INDEX [IX_MonthlyCards_VehicleId] ON [dbo].[MonthlyCards]
GO
/****** Object:  Index [IX_MonthlyCards_CardId]    Script Date: 21/04/2026 9:34:56 PM ******/
DROP INDEX [IX_MonthlyCards_CardId] ON [dbo].[MonthlyCards]
GO
/****** Object:  Table [dbo].[VehicleTypes]    Script Date: 21/04/2026 9:34:56 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VehicleTypes]') AND type in (N'U'))
DROP TABLE [dbo].[VehicleTypes]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 21/04/2026 9:34:56 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Vehicles]') AND type in (N'U'))
DROP TABLE [dbo].[Vehicles]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21/04/2026 9:34:56 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[RFIDCards]    Script Date: 21/04/2026 9:34:56 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RFIDCards]') AND type in (N'U'))
DROP TABLE [dbo].[RFIDCards]
GO
/****** Object:  Table [dbo].[Prices]    Script Date: 21/04/2026 9:34:56 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Prices]') AND type in (N'U'))
DROP TABLE [dbo].[Prices]
GO
/****** Object:  Table [dbo].[ParkingTransactions]    Script Date: 21/04/2026 9:34:56 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ParkingTransactions]') AND type in (N'U'))
DROP TABLE [dbo].[ParkingTransactions]
GO
/****** Object:  Table [dbo].[ParkingSessions]    Script Date: 21/04/2026 9:34:56 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ParkingSessions]') AND type in (N'U'))
DROP TABLE [dbo].[ParkingSessions]
GO
/****** Object:  Table [dbo].[ParkingPositions]    Script Date: 21/04/2026 9:34:56 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ParkingPositions]') AND type in (N'U'))
DROP TABLE [dbo].[ParkingPositions]
GO
/****** Object:  Table [dbo].[MonthlyCards]    Script Date: 21/04/2026 9:34:56 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MonthlyCards]') AND type in (N'U'))
DROP TABLE [dbo].[MonthlyCards]
GO
/****** Object:  Table [dbo].[LoginAccounts]    Script Date: 21/04/2026 9:34:56 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoginAccounts]') AND type in (N'U'))
DROP TABLE [dbo].[LoginAccounts]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21/04/2026 9:34:56 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
USE [master]
GO
/****** Object:  Database [ParkingManagementDB]    Script Date: 21/04/2026 9:34:56 PM ******/
DROP DATABASE [ParkingManagementDB]
GO
/****** Object:  Database [ParkingManagementDB]    Script Date: 21/04/2026 9:34:56 PM ******/
CREATE DATABASE [ParkingManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ParkingManagementDB', FILENAME = N'E:\Microsoft SQL Server\MSSQL16.KOSARUMEI\MSSQL\DATA\ParkingManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ParkingManagementDB_log', FILENAME = N'E:\Microsoft SQL Server\MSSQL16.KOSARUMEI\MSSQL\DATA\ParkingManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ParkingManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ParkingManagementDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21/04/2026 9:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginAccounts]    Script Date: 21/04/2026 9:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginAccounts](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_LoginAccounts] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyCards]    Script Date: 21/04/2026 9:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyCards](
	[MonthlyCardId] [int] IDENTITY(1,1) NOT NULL,
	[CardId] [int] NOT NULL,
	[VehicleId] [int] NOT NULL,
	[OwnerName] [nvarchar](max) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_MonthlyCards] PRIMARY KEY CLUSTERED 
(
	[MonthlyCardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingPositions]    Script Date: 21/04/2026 9:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingPositions](
	[PositionId] [int] IDENTITY(1,1) NOT NULL,
	[Zone] [nvarchar](10) NOT NULL,
	[IsOccupied] [bit] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ParkingPositions] PRIMARY KEY CLUSTERED 
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingSessions]    Script Date: 21/04/2026 9:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingSessions](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[CardId] [int] NULL,
	[VehicleId] [int] NULL,
	[PositionId] [int] NOT NULL,
	[CheckInTime] [datetime2](7) NOT NULL,
	[CheckOutTime] [datetime] NULL,
	[LicensePlateIn] [nvarchar](max) NOT NULL,
	[LicensePlateOut] [nvarchar](20) NULL,
	[ImageIn] [nvarchar](max) NOT NULL,
	[ImageOut] [nvarchar](max) NULL,
	[TotalFee] [decimal](18, 2) NULL,
 CONSTRAINT [PK_ParkingSessions] PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingTransactions]    Script Date: 21/04/2026 9:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingTransactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](max) NOT NULL,
	[TransactionTime] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ParkingTransactions] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prices]    Script Date: 21/04/2026 9:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prices](
	[PriceId] [int] IDENTITY(1,1) NOT NULL,
	[TypeId] [int] NOT NULL,
	[BasePrice] [decimal](18, 2) NOT NULL,
	[PricePerHour] [decimal](18, 2) NOT NULL,
	[FreeMinutes] [int] NOT NULL,
 CONSTRAINT [PK_Prices] PRIMARY KEY CLUSTERED 
(
	[PriceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RFIDCards]    Script Date: 21/04/2026 9:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RFIDCards](
	[CardId] [int] IDENTITY(1,1) NOT NULL,
	[UID] [nvarchar](50) NOT NULL,
	[RfidCode] [nvarchar](50) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_RFIDCards] PRIMARY KEY CLUSTERED 
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21/04/2026 9:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 21/04/2026 9:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleId] [int] IDENTITY(1,1) NOT NULL,
	[LicensePlate] [nvarchar](20) NOT NULL,
	[TypeId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleTypes]    Script Date: 21/04/2026 9:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleTypes](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[PricePerHour] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_VehicleTypes] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260414123507_InitialCreate', N'8.0.24')
GO
SET IDENTITY_INSERT [dbo].[MonthlyCards] ON 

INSERT [dbo].[MonthlyCards] ([MonthlyCardId], [CardId], [VehicleId], [OwnerName], [ExpiryDate], [Balance]) VALUES (11, 17, 14, N'Phùng Duy Hoàng', CAST(N'2026-07-30T00:00:00.0000000' AS DateTime2), CAST(10200000.00 AS Decimal(18, 2)))
INSERT [dbo].[MonthlyCards] ([MonthlyCardId], [CardId], [VehicleId], [OwnerName], [ExpiryDate], [Balance]) VALUES (14, 34, 22, N'Hoang Van Thinh', CAST(N'2026-05-21T00:00:00.0000000' AS DateTime2), CAST(1995000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[MonthlyCards] OFF
GO
SET IDENTITY_INSERT [dbo].[ParkingPositions] ON 

INSERT [dbo].[ParkingPositions] ([PositionId], [Zone], [IsOccupied], [Status]) VALUES (1, N'Zone A', 1, N'Active')
INSERT [dbo].[ParkingPositions] ([PositionId], [Zone], [IsOccupied], [Status]) VALUES (2, N'Zone A', 0, N'Active')
INSERT [dbo].[ParkingPositions] ([PositionId], [Zone], [IsOccupied], [Status]) VALUES (3, N'Zone B', 0, N'Active')
SET IDENTITY_INSERT [dbo].[ParkingPositions] OFF
GO
SET IDENTITY_INSERT [dbo].[ParkingSessions] ON 

INSERT [dbo].[ParkingSessions] ([SessionId], [CardId], [VehicleId], [PositionId], [CheckInTime], [CheckOutTime], [LicensePlateIn], [LicensePlateOut], [ImageIn], [ImageOut], [TotalFee]) VALUES (12, 1, 11, 1, CAST(N'2026-04-15T08:00:00.0000000' AS DateTime2), CAST(N'2026-04-15T10:30:00.000' AS DateTime), N'29A-123.45', NULL, N'/uploads/sample1.jpg', NULL, CAST(30000.00 AS Decimal(18, 2)))
INSERT [dbo].[ParkingSessions] ([SessionId], [CardId], [VehicleId], [PositionId], [CheckInTime], [CheckOutTime], [LicensePlateIn], [LicensePlateOut], [ImageIn], [ImageOut], [TotalFee]) VALUES (13, 2, 12, 2, CAST(N'2026-04-15T09:15:00.0000000' AS DateTime2), CAST(N'2026-04-15T11:00:00.000' AS DateTime), N'30F-999.99', NULL, N'/uploads/sample2.jpg', NULL, CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[ParkingSessions] ([SessionId], [CardId], [VehicleId], [PositionId], [CheckInTime], [CheckOutTime], [LicensePlateIn], [LicensePlateOut], [ImageIn], [ImageOut], [TotalFee]) VALUES (14, 3, 13, 3, CAST(N'2026-04-14T14:00:00.0000000' AS DateTime2), CAST(N'2026-04-14T16:00:00.000' AS DateTime), N'15B-555.55', NULL, N'/uploads/sample3.jpg', NULL, CAST(20000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ParkingSessions] OFF
GO
SET IDENTITY_INSERT [dbo].[RFIDCards] ON 

INSERT [dbo].[RFIDCards] ([CardId], [UID], [RfidCode], [IsLocked], [Status]) VALUES (1, N'UID001', N'111222', 0, N'Active')
INSERT [dbo].[RFIDCards] ([CardId], [UID], [RfidCode], [IsLocked], [Status]) VALUES (2, N'UID002', N'333444', 0, N'Active')
INSERT [dbo].[RFIDCards] ([CardId], [UID], [RfidCode], [IsLocked], [Status]) VALUES (3, N'UID003', N'555666', 0, N'Active')
SET IDENTITY_INSERT [dbo].[RFIDCards] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [UserName], [Password], [Role], [PhoneNumber], [IsActive]) VALUES (5, N'phùng duy hoàng', N'admin1', N'123456', N'Admin', N'0399677693', 1)
INSERT [dbo].[Users] ([UserId], [FullName], [UserName], [Password], [Role], [PhoneNumber], [IsActive]) VALUES (6, N'Phùng Duy Hoàng', N'user1', N'123456', N'Staff', N'0399677693', 1)
INSERT [dbo].[Users] ([UserId], [FullName], [UserName], [Password], [Role], [PhoneNumber], [IsActive]) VALUES (7, N'Hoàng Văn Thinh', N'thinhngu1233', N'123456', N'Admin', N'0399677693', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([VehicleId], [LicensePlate], [TypeId], [Description]) VALUES (11, N'29A-123.45', 6, NULL)
INSERT [dbo].[Vehicles] ([VehicleId], [LicensePlate], [TypeId], [Description]) VALUES (12, N'30F-999.99', 7, NULL)
INSERT [dbo].[Vehicles] ([VehicleId], [LicensePlate], [TypeId], [Description]) VALUES (13, N'15B-555.55', 7, NULL)
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleTypes] ON 

INSERT [dbo].[VehicleTypes] ([TypeId], [TypeName], [PricePerHour]) VALUES (6, N'Ô tô', CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[VehicleTypes] ([TypeId], [TypeName], [PricePerHour]) VALUES (7, N'Xe máy', CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[VehicleTypes] ([TypeId], [TypeName], [PricePerHour]) VALUES (9, N'xe đạp', CAST(25000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[VehicleTypes] OFF
GO
/****** Object:  Index [IX_MonthlyCards_CardId]    Script Date: 21/04/2026 9:34:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_MonthlyCards_CardId] ON [dbo].[MonthlyCards]
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MonthlyCards_VehicleId]    Script Date: 21/04/2026 9:34:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_MonthlyCards_VehicleId] ON [dbo].[MonthlyCards]
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParkingSessions_CardId]    Script Date: 21/04/2026 9:34:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingSessions_CardId] ON [dbo].[ParkingSessions]
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParkingSessions_PositionId]    Script Date: 21/04/2026 9:34:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingSessions_PositionId] ON [dbo].[ParkingSessions]
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParkingSessions_VehicleId]    Script Date: 21/04/2026 9:34:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingSessions_VehicleId] ON [dbo].[ParkingSessions]
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParkingTransactions_SessionId]    Script Date: 21/04/2026 9:34:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingTransactions_SessionId] ON [dbo].[ParkingTransactions]
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prices_TypeId]    Script Date: 21/04/2026 9:34:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_Prices_TypeId] ON [dbo].[Prices]
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__C9F28456D151D67D]    Script Date: 21/04/2026 9:34:57 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehicles_TypeId]    Script Date: 21/04/2026 9:34:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vehicles_TypeId] ON [dbo].[Vehicles]
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'Staff') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VehicleTypes] ADD  DEFAULT ((0)) FOR [PricePerHour]
GO
ALTER TABLE [dbo].[MonthlyCards]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyCards_RFIDCards_CardId] FOREIGN KEY([CardId])
REFERENCES [dbo].[RFIDCards] ([CardId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonthlyCards] CHECK CONSTRAINT [FK_MonthlyCards_RFIDCards_CardId]
GO
ALTER TABLE [dbo].[MonthlyCards]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyCards_Vehicles_VehicleId] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([VehicleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonthlyCards] CHECK CONSTRAINT [FK_MonthlyCards_Vehicles_VehicleId]
GO
ALTER TABLE [dbo].[ParkingSessions]  WITH CHECK ADD  CONSTRAINT [FK_ParkingSessions_ParkingPositions_PositionId] FOREIGN KEY([PositionId])
REFERENCES [dbo].[ParkingPositions] ([PositionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ParkingSessions] CHECK CONSTRAINT [FK_ParkingSessions_ParkingPositions_PositionId]
GO
ALTER TABLE [dbo].[ParkingSessions]  WITH CHECK ADD  CONSTRAINT [FK_ParkingSessions_RFIDCards_CardId] FOREIGN KEY([CardId])
REFERENCES [dbo].[RFIDCards] ([CardId])
GO
ALTER TABLE [dbo].[ParkingSessions] CHECK CONSTRAINT [FK_ParkingSessions_RFIDCards_CardId]
GO
ALTER TABLE [dbo].[ParkingSessions]  WITH CHECK ADD  CONSTRAINT [FK_ParkingSessions_Vehicles_VehicleId] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([VehicleId])
GO
ALTER TABLE [dbo].[ParkingSessions] CHECK CONSTRAINT [FK_ParkingSessions_Vehicles_VehicleId]
GO
ALTER TABLE [dbo].[ParkingTransactions]  WITH CHECK ADD  CONSTRAINT [FK_ParkingTransactions_ParkingSessions_SessionId] FOREIGN KEY([SessionId])
REFERENCES [dbo].[ParkingSessions] ([SessionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ParkingTransactions] CHECK CONSTRAINT [FK_ParkingTransactions_ParkingSessions_SessionId]
GO
ALTER TABLE [dbo].[Prices]  WITH CHECK ADD  CONSTRAINT [FK_Prices_VehicleTypes_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[VehicleTypes] ([TypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prices] CHECK CONSTRAINT [FK_Prices_VehicleTypes_TypeId]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_VehicleTypes_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[VehicleTypes] ([TypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_VehicleTypes_TypeId]
GO
USE [master]
GO
